@font-face {
	font-family: "myfont";
	src: url('./myfont.eot');
	src: url('./myfont.eot?#iefix') format('embedded-opentype'),
		url('./myfont.woff') format('woff'),
		url('./myfont.ttf') format('truetype'),
		url('./myfont.svg#myfont') format('svg');
}

.icon:before {
	font-family: "myfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-stroke-width: 0.2px;
	text-decoration: none;
	text-transform: none;
}


.icon-camera:before {
	content: "\E001";
}

.icon-camera_fill:before {
	content: "\E002";
}

.icon-cart:before {
	content: "\E003";
}

.icon-cart_fill:before {
	content: "\E004";
}

.icon-clock:before {
	content: "\E005";
}

.icon-clothing:before {
	content: "\E006";
}

.icon-etao:before {
	content: "\E007";
}

.icon-link:before {
	content: "\E008";
}

.icon-wanke:before {
	content: "\E009";
}
